<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Alibaba</string>
		<string>ApacheNginx</string>
		<string>Apple</string>
		<string>Caches</string>
		<string>ComputerSystem</string>
		<string>DataBase</string>
		<string>DesignPattern</string>
		<string>DSAlgorithm</string>
		<string>GitSubversion</string>
		<string>Golang</string>
		<string>Google</string>
		<string>GradleMaven</string>
		<string>Groovy</string>
		<string>HtmlCss</string>
		<string>IDEA</string>
		<string>JavaLang</string>
		<string>JavaScript</string>
		<string>Jekyll</string>
		<string>JunitTest</string>
		<string>LinuxUnix</string>
		<string>Markdown</string>
		<string>NodeJS</string>
		<string>Tomcat</string>
		<string>Vim</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
