<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Alfred Keymap.md</string>
		</array>
		<array>
			<string>IDEA keymap for Mac.md</string>
		</array>
		<array>
			<string>IDEA keymap for new Mac OS X.md</string>
		</array>
		<array>
			<string>temimal keymap.md</string>
		</array>
		<array>
			<string>Tmux keymap.md</string>
		</array>
		<array>
			<string>VIM keymap.md</string>
		</array>
	</array>
</dict>
</plist>
